<link id="style" href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="centered">
  <div class="inline">
    <div id="liveSincePrefix"></div>
  </div>
  <div class="inline">
    <div id="liveSince">00:00:00</div>
  </div>
</div>

<br>

<div class="centered">
  <div class="inline">
    <div id="livePrefix"></div>
  </div>
  <div class="inline">
    <div id="time">00:00:00</div>
  </div>
</div>

<br>

<div class="centered">
  <div class="inline">
    <div id="breakPrefix"></div>
  </div>
  <div class="inline">
    <div id="break">00:00:00</div>
  </div>
</div>